#card-list{
	width:100%;
	display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.cards{
	width: 30%;
    padding: 10px;
    box-shadow: 0px 0px 10px 1px #444;
    border-radius: 5px;
}
.cards i{
	font-size:30px;
	color: blueviolet;
}
.cards h3{
	color: indigo;
    font-size: 25px;
}
.cards p{
	font-size: 15px;
    font-family: math;
}